<div class="container-fluid contact">
	<div class="row">


		<div class="col">

			<h2>You can reach me through any of those:</h2>
			
			<p>Email: <a href="mailto:dankomaksym@gmail.com?">dankomaksym@gmail.com</a></p>
			<p>Skype: <a href="https://join.skype.com/invite/pvp3K1fSBKvz">maxroker</a></p>
			<p>Phone: +380639523/two/70</p>

		</div>
	</div>
</div>