<div class="jumbotron home">
	<div class="row">
		<div class="col">
			<div class="message">
				<h2>Hi, I'm Max</h2>
				<h2>I like to build websites and I have plenty creative ideas :)</h2>
			</div>

			<a class="btn" href="portfolio">Check my Work</a>
		</div>
	</div>
</div>

