

<main class="home">
	<div class="jumbotron">
		<div class="container">
			<div class="row out">
				<div class="col col-7">
				</div>
				<div class="col col-5">
					<div class="row">
						<h2>Hi, I'm Maksym Danko. I like to build websites and I have plenty creative ideas :)</h2>
					</div>
					<div class="row">	
						<a class="btn right" href="portfolio">Check my Work</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

