<div class="jumbotron home">
	<div class="row">
		<div class="col">
			<h2>Hi, I'm Maksym Danko. I like to build websites and I have plenty creative ideas :)</h2>

			<a class="btn" href="portfolio">Check my Work</a>
		</div>
	</div>
</div>

