<div class="container about">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<img src="/assets/alex-azabache.jpg" >
			<p>Sitting on top, with pockets full of wind :)</p>
			<a href="portfolio"><p>But my brain is full of ideas ...</p></a>
		</div>
		<div class="col-xs-12 col-md-6">

			<h2>Hi there!</h2>
			
			<p>I've decided to learn to code roughly a year ago. And have been fascinated by coding ever since.</p>
			<p>It's true when they say that coding is like a super power. It gives you the ability to create something out of nothing. What can be cooler?</p>
			<p>I was always fascinated by the concept of being able to build stuff on your own, but coding can take it to a whole nother dimension. It allows you to reach and touch millions of people.</p>
			<p>In my journey so far, I've used different resources, but the main one is <a href="https://www.codecademy.com/">Codecademy</a>. It's one of the best places on the internet to get your basics clear. I've completed courses on HTML/CSS, Bootstrap, SQL, Git, Python, JavaScript, Ruby, React, Ruby on Rails. This project, and all projects in my portfolio, has been built with "Ruby on Rails" framework.</p>
			<p>So now, my goal is to use my programming skills for creation of great web-products. I want to help small business and entrepreneurs to build their presence online. Regardless of your goals, it’s growingly important to present your product and have your niche in the web.</p>
			<p>If you need to launch your business online fast, I would be happy to help you. Please, contact me <a href="contact">: )</a></p>

		</div>
	</div>
</div>