/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
}



body {
  background: #272b28;
  color: #fff;
  font-family: 'Roboto', serif;
  height: 100%;
  width: 100%;
}


/*    HEADER    */

header {
  position: relative;
  width: 100%;
  margin: 15px auto;
}

header h2 {
  float: right;
}

header a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.nav ul {
  list-style: none;
  position: absolute;
  right: 25px;
  top: 25px;
}

.nav ul li {
  display: inline-block;
  font-weight: 300;
}


/*     Welcome     */

.home {
  background-image: url('https://images.unsplash.com/photo-1569913206567-988348c4d945?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'), url('rinck-content.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 768px;
}

.home .col {
  margin-top: 50px;
  margin-left: 20em;
}

.home h2 {
	background-color: #272b28;
  opacity: 0.9;
	width: 390px;
  padding: 30px;
}

.home .btn {
  background-color: #272b28;
  color: white;
  opacity: 0.9;
  display: block;
  width: 390px;
  padding: 6px 20px;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background 1s; 
}

.home .btn:hover {
  color: #61b7ff;
  opacity: 1;
}

a {
  color: #61b7ff;
}

a:hover {
  color: #61b7ff;
}


/*    FOOTER    */
.social_media {
  float: right;
}

footer .container-fluid {
 margin: 10px 0;
}

footer .nav-item {
  height: 70px;
  width: 70px;
}


/*    PORTFOLIO    */

.portfolio h2 {
  margin-top: 35px;
}

.portfolio p {
  margin-top: 10px;
}

.portfolio img {
  width: 100%;
}


/*    ABOUT    */

.about {
  margin-top: 30px;
}

.about img {
  width: 100%;
}

.about p {
  margin-top: 10px;
}


/*    CONTACT    */

.contact {
  background-image: url('rinck-content.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: initial;
  min-height: 800px;
  margin: 0;
}

.contact {
  min-width: 400px;
  align-content: center;
}

.contact .col {
  background-color: #272b28;
  opacity: 0.9;
  max-width: 600px;
  margin: 100px auto;
  
}

.contact h2 { 
  margin: 20px auto;
  text-align: center;
}

.contact p {
  margin-top: 10px;
  font-size: 24px;
  text-align: center; 
}


/**********    
  MEDIA QUERIES    
**********/

@media screen and (max-width: 900px) {
  /*    HEADER    */
  header .nav-item {
    display: block;
    width: 100%;
  }

  header .nav-link {
    padding: 0;
  }

  .home {
    background-image: url('jonathan-borba.jpg');
  }

  .home .col {
    margin-left: 2em;
  }
}

   